<p id="notice"><%= notice %></p>

<p>
  <strong>Medication:</strong>
  <%= @medication.medication %>
</p>

<%= link_to 'Edit', edit_medication_path(@medication) %> |
<%= link_to 'Back', medications_path %>
