<p id="notice"><%= notice %></p>

<p>
  <strong>Bloodgroup:</strong>
  <%= @blood_group.bloodgroup %>
</p>

<%= link_to 'Edit', edit_blood_group_path(@blood_group) %> |
<%= link_to 'Back', blood_groups_path %>
